@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", serif;
}

::selection {
    background-color: #52ca7280;
}

.Vue-Toastification__toast--success {
    background: oklch(var(--p)) !important;
}

.Vue-Toastification__toast--error {
    background: #ca5252 !important;
}

.router-link-active {
    color: inherit !important
}