@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", serif;
}

.Vue-Toastification__toast--success {
    background: #52CA72 !important;
}

.Vue-Toastification__toast--error {
    background: #ca5252 !important;
}
